# Core dependencies
flask
flask-sqlalchemy
flask-bcrypt
marshmallow-sqlalchemy
flask-cors
flask-migrate
google-generativeai
python-dotenv
sentence-transformers
chromadb

# Additional dependencies that are available on PyPI
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
alembic
annotated-types
anyio
asgiref
async-timeout
attrs
backoff
bcrypt
beautifulsoup4
blinker
build
cachetools
certifi
chardet
charset-normalizer
chroma-hnswlib
click
colorama
coloredlogs
coverage
cryptography
Deprecated
distro
docstring_parser
duckduckgo_search
durationpy
exceptiongroup
fastapi
fastapi-utils
filelock
flatbuffers
frozenlist
fsspec
future
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
iniconfig
itsdangerous
Jinja2
jiter
joblib
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
mpmath
multidict
networkx
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
outcome
overrides
packaging
paramiko
pexpect
phidata
Pillow
pluggy
posthog
primp
propcache
proto-plus
protobuf
psutil
psycopg2-binary
ptyprocess
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
PyNaCl
pyparsing
PyPika
pyproject_hooks
PySocks
pytest
pytest-cov
python-dateutil
python-multipart
pytz
PyYAML
regex
requests
requests-oauthlib
rich
rsa
safetensors
scikit-learn
scipy
selenium
shellingham
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
starlette
sympy
tenacity
threadpoolctl
tokenizers
tomli
torch
torchaudio
torchvision
tqdm
transformers
trio
trio-websocket
twilio
typer
typing_extensions
uritemplate
urllib3
uvicorn
uvloop
watchfiles
websocket-client
websockets
Werkzeug
wrapt
wsproto
yarl
zipp
